#bg {
    z-index: -99;
    position: fixed;
    left: 27.5%;
    top: 25%;
    opacity: 0.14;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
}


body {
    text-align: center;
    background-color: black;

    height:100%;


}

article {
    background: transparent;
}

/*Global*/



p {
    filter: saturate(140%);
    font-family: BigCaslon-Medium;
    text-align: center;
    text-decoration: none;
    -webkit-text-fill-color: #f10000;
    -webkit-text-stroke-color: #eaea98;
    -webkit-text-stroke-width: 0.4px;
}
article h1 {
    filter: saturate(140%);
    padding:0;
    margin:0;
    font-family: BigCaslon-Medium;
    text-align: center;
    font-size: 40px;
    text-decoration: none;
    -webkit-text-fill-color: #f10000;
    -webkit-text-stroke-color: #eaea98;
    -webkit-text-stroke-width: 0.4px;
}

.container {
    width:80%;
    margin: 0 auto;
    padding: 0;
    background: #000000;
    overflow: none;
    text-align: center;
    background: transparent;

}


/*Header*/
.logo img {
    filter: saturate(140%);

}

.logo img:hover {
    content: url("../media/Home.png");
    max-height: 120px;
}

#mitems{
    display: block;
    margin-right:5rem;
}
#mitems li {
    display: inline;
    padding: 0 4%;
    background: transparent;

}

#mitems a:hover{
    filter: brightness(120%);
}

#mitems li a {
    filter: saturate(140%);
    font-family: BigCaslon-Medium;
    font-size: 35px;
    text-align: center;
    text-decoration: none;
    -webkit-text-fill-color: #f10000;
    -webkit-text-stroke-color: #eaea98;
    -webkit-text-stroke-width: 0.4px;
}



.box img {
    float: left;
    padding-left: 125px;
    padding-top: 2rem;
    padding-bottom: 5rem;
}

/*global content*/
.boxi {
    float: left;
    position: relative;
    overflow: hidden;
    padding-left: 30%;
    padding-top: 10%;
    padding-bottom: 5rem;
    margin-left: 3%;
    margin-top:5%;
    margin-bottom:5%;
}

.boxo {
    position: relative;
    overflow: hidden;
    float:left;
    padding-left: 30%;
    padding-top: 20%;
    padding-bottom:0%;
    margin-left: 3%;
    margin-bottom:10%;
}
.boxob {
    position: relative;
    overflow: hidden;
    float:left;
    padding-left: 80%;
    padding-top:20%;
    padding-bottom:10%;
    margin-left: 9%;
    margin-bottom:1%;
}
#mmenu{
    display:none;
}
.font{
    filter: saturate(140%);
    font-family: BigCaslon-Medium;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    -webkit-text-fill-color: #f10000;
    -webkit-text-stroke-color: #eaea98;
    -webkit-text-stroke-width: 0.4px;
}
.dropbtn:hover{
    filter:brightness(120%);
}

.dropbtn {
    background-color: transparent;
    filter: saturate(140%);
    font-family: BigCaslon-Medium;
    text-decoration: none;
    -webkit-text-fill-color: #f10000;
    -webkit-text-stroke-color: #eaea98;
    -webkit-text-stroke-width: 0.4px;
    padding: 16px;
    font-size: 35px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {

    display: none;
    position: absolute;
    background-color: darkred;
    border:1px solid #eaea98 ;
    filter: opacity(80%);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #eaea98;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background:transparent;}

article {
    padding-top: 3rem;
}

.msection {
    width: 80%;
    margin-left: 10%;
    float: left;
    background:transparent;
}
.msection p{
    padding-bottom:4%;
}

h2 {
    filter: saturate(140%);
    font-family: BigCaslon-Medium;
    font-weight: unset;
    text-align: center;
    font-size: x-large;
    text-decoration: none;
    -webkit-text-fill-color: #f10000;
    -webkit-text-stroke-color: #eaea98;
    -webkit-text-stroke-width: 0.4px;
}
h1 {
    filter: saturate(140%);
    font-family: BigCaslon-Medium;
    font-weight: unset;
    text-align: center;
    font-size: x-large;
    text-decoration: none;
    -webkit-text-fill-color: #f10000;
    -webkit-text-stroke-color: #eaea98;
    -webkit-text-stroke-width: 0.4px;
}
.content-holders h1{
    margin-bottom:5%;
    margin-top:30%;
}


.content-holder {
    width:1%;
    position: relative;
    float:left;
    padding-left: 20%;
    padding-top: 15%;
    padding-bottom:0%;
    margin-left: 10%;
    margin-bottom: 20%;
    text-align: center;
}
.content-holder h1{
    position:absolute;
    top: 100%;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    float:left;
    margin-top:5%;
    padding-left:1%
}
.content-holder #simg{
    margin-top: -7%;
}

.resp-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
/*footer*/

#credits p {
    float: left;
    padding-top: 1.5rem;
    margin-left: 2rem;
}
#simg{
    width:105%;
    height:120%;

}

footer {
    display: block;
    float: left;
    background-image: linear-gradient(0deg, #f10000 0%, #d61717 14%, #7a0d0d 51%, #000000 100%);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.50), inset 0 0 0 0 rgba(0, 0, 0, 0.50);
    width: 100%;
    height: 100px;
}

/*Index*/
.harticle{
    height:400px;
    margin-top:10%;
}

}
/*over mij*/
.boxob {
    display: block;
    position: relative;
    overflow: hidden;
    float: left;
    padding-left: 30%;
    padding-top: 20%;
    padding-bottom: 2%;
    margin-left: 10%;
}

/*contact*/
#maps {
    display: block;
    position: relative;
    padding: 4rem 0;
    overflow: hidden;

}

#map{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

#maps img {
    position: absolute;
    left: 0%;
    top: 11%;
    pointer-events: none;
    filter: opacity(30%);

}

.contact h2{
    text-align: left;
    margin-left:10%;
}
.contact{
    margin-top:5%;
    display:box;
}
.contact p{
    margin-left:10%;

    text-align: left;
}



/*contact form*/
.form {
    margin: 0 auto;
    display:block;
}

form{

    text-align: center;
    margin-top:10%;
    margin-bottom:30%;

}

.bericht{
    margin:0 auto;
    -webkit-text-fill-color: #f10000;
    -webkit-text-stroke-color: #eaea98;
    -webkit-text-stroke-width: 0.4px;
}


#big{

}

/* Media Queries */
@media screen and (max-width: 900px) {
    #mitems li a{
        font-size:20px;

    }
    #mitems li{
        padding:0 2%;

    }
    #mitems{
        margin-left:5%;
    }
    #mitems .dropbtn{
        font-size:20px;
    }
    body {
        background-size: 100%;
        background-position: center center;
    }
    .content-holder h1{
        font-size: 100%;
    }

    .harticle h1{
        font-size: 120%;
    }
    .harticle p{
        font-size: 80%;
    }
}
@media screen and (max-width: 440px) {
    #mitems {
        display: none;
    }

    #mmenu {
        display: block;
    }

    #mmenu a {
        text-align: center;
        border-bottom: #eaea98;
        font-family: BigCaslon-Medium;
        text-decoration: none;
        -webkit-text-fill-color: white;
        -webkit-text-stroke-color: #eaea98;
        -webkit-text-stroke-width: 0.4px;
    }

    #mmenu a:hover {
        -webkit-text-fill-color: black;
        -webkit-text-stroke-color: black
    }

    .dropdown-content {
        width: 100%
    }

    .logo img {
        width: 50%;
    }

    .logo img:hover {
        content: none;
    }

    footer #credits {
        font-size: 11px;
    }

    form {
        overflow: hidden;
    }

    body {
        background-size: 80%;
        background-position: center center;
    }
}